<div class="col-sm-4 pull-right">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="{{ product.image.url }}" style="width: 250px; height: 250px;"
                     alt="">
                <h2>{{ product.price }}</h2>
                <p>{{ product.title }}</p>

            </div>


        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ product.get_absolute_url }}"><i class="fa fa-plus-square"></i>مشاهده</a></li>

            </ul>
        </div>
    </div>
</div>